* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 300px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

.start-screen-wrapper {
    background: url(../../assets/images/start-screen-gradient-background.jpg), url(../../assets/images/noise_transparent.png);
    background-size: 100% 100%;
}

.start-screen {
    padding: 30px 40px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.header__burger {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color:#F1CDB3;
    position: absolute;
    left: 0;
}

.burger__line--first {
    top: 0;
}

.burger__line--third {
    bottom: 0;
}

.burger__line--second {
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
    }
    .menu  {
        display: none;
    }
} 

.header__logo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.logo__title a {
    font: 400 32px/35px Georgia, sans-serif;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    transition: 0.3s;
}

.logo__title a:hover {
    color: #fae3d2;
}

.logo__subtitle {
    font: 400 13px/15px Arial, sans-serif;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 3px;
}

.menu__list {
    display: flex;
    gap: 36px;
    list-style: none;
}

.menu__item {
    font: 400 15px/24px Arial, sans-serif;
    color: #CDCDCD;
    cursor: pointer;
    transition: 0.3s;
}

.menu__item:hover, .menu__item--active {
    color: #FAFAFA;
}

.menu__item--active {
    border-bottom: 3px solid #F1CDB3;
}

.start-screen__content {
    display: flex;
    gap: 42px;
}

.not-only {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 163px;
    gap: 42px;
}

.not-only__heading {
    width: 70%;
    font: 400 44px/57px Georgia, serif;
    color: #FFFFFF;
}

.not-only__subheading {
    font: 400 15px/24px Arial, sans-serif;
    color: #CDCDCD;
}

.button--primary {
    text-align: center;
    padding: 15px;
    font: 400 17px/22px Georgia, serif;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 100px;
    background-color: #F1CDB3;
    cursor: pointer;
    transition: 0.3s;
    width: 207px;
    height: 52px;
}

a.button--primary {
    color: #292929;
}

.button--primary:hover {
    background-color: #FDDCC4;
}

.start-screen__image {
    width: 698px;
    height: 728px;
}

@media (max-width: 1068px)  {
    .header {
        margin-bottom: 60px;
    }

    .start-screen {
        padding: 30px 30px 0;
    }
   
    .start-screen__content {
        flex-direction: column;
        gap: 100px;
    }

    .not-only {
        margin-top: 0;
        padding: 0 124px;
        align-self: center;
    }

    .button--primary {
        align-self: center;
    }

    .start-screen__image {
        width: 569px;
        height: 593px;
        align-self: flex-end;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 0 10px;
    }

    .start-screen {
        padding: 30px 10px 0;
    }

    .start-screen__content {
        gap: 105px;
    }

    .not-only {
        padding: 0;
        align-items: center;
    }

    .not-only__heading {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .not-only__subheading {
        text-align: center;
        max-width: 75%;
    }

    .start-screen__image {
        width: 260px;
        height: 272px;
    }
}

@media screen and (max-width: 542px) {
    .not-only__subheading {
        max-width: 100%;
    }
}


/*! About Section */
.about {
    padding: 80px 40px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.about__content {
    max-width: 430px; 
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 14px 0;
}

.about__heading {
    /* width: 95%; */
    font: 400 35px/45px Georgia, serif;
    letter-spacing: 0.06em;
    color: #545454;
}

.about__subheading {
    font: 400 15px/24px Arial, sans-serif;
    color: #4C4C4C;
}

@media screen and (max-width: 1068px) {
    .about {
        flex-direction: column-reverse;
        gap: 80px;
    }

    .about__content {
        max-width: 62%;
        padding: 0;
    }
} 


 @media screen and (max-width: 482px) {
     .about {
        padding: 42px 10px;
        gap: 42px;
    }

    .about__content {
        align-items: center;
        gap: 22px;
        max-width: 270px;
    }

    .about__heading {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 3px;
     }

     .about__subheading {
       text-align: justify;
     }

     .about__image {
        max-width: 260px;
     }  
 }


/*! Our Friends Section */
.our-friends-wrapper {
    background-color: #F6F6F6;
}

.our-friends {
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.our-friends__heading {
    text-align: center;
    font: 400 35px/45px Georgia, serif;
    letter-spacing: 0.06em;
    color: #545454;
}

.our-friends__slider {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 53px;
}

.slider__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 60px;
}

.card--pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #FAFAFA;
    padding-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card--pet:hover {
    background-color: #FFFFFF;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card--pet:hover .button--secondary {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.card__name {
    font: 400 20px/23px Georgia, serif;
    letter-spacing: 0.06em;
    color: #545454;
}

.button--secondary {
    font: 400 17px/22px Georgia, serif;
    letter-spacing: 0.06em;
    color: #292929;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
    cursor: pointer;
    transition: 0.3s;
    width: 187px;
    height: 52px;
}

.button--secondary:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.button--arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    min-width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
}

.button--arrow:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.button--primary-pets {
    text-align: center;
    font: 400 17px/22px Georgia, serif;
    letter-spacing: 0.06em;
    padding: 15px;
    border: none;
    border-radius: 100px;
    background-color: #F1CDB3;
    cursor: pointer;
    transition: 0.3s;
    width: 261px;
    height: 52px;
}

a.button--primary-pets {
    color: #292929;
}

.button--primary-pets:hover {
    background-color: #FDDCC4;
}

@media screen and (max-width: 1220px) {
    .our-friends {
        padding: 80px 30px 100px;
    }

    .our-friends__slider {
        gap: 12px;
    }

    .slider__cards {
        gap: 40px;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1077px) {
    .card--pet:last-child {
        display: none;
    }
}


@media screen and (max-width: 767px) {
    .slider__cards {
        display: block;
    }

    .button--arrow {
        order:1;
    }

    .card--pet:nth-child(2) {
        display: none;
    }

    .our-friends {
        padding: 42px 10px;
        gap: 42px;
    }

    .our-friends__heading {
        font-size: 25px;
        line-height: 32.5px;
    }

    .our-friends__slider {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }
}


/*! Help Section */
.help {
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__heading {
    text-align: center;
    font: 400 35px/45px Georgia, serif;
    letter-spacing: 0.06em;
    color: #545454;
}

.help__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 119px;
    padding: 60px 87px 0;
}

.help-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.help-card__icon {
    width: 60px;
    height: 60px;
}

.help-card__name {
    font: 400 20px/23px Georgia, serif;
    letter-spacing: 0.06em;
    color: #545454;
}

 @media screen and (max-width: 1278px) {
    .help {
        padding: 80px 69px 100px;
    }

    .help-card {
        width: 170px;
        height: 113px;
    }

    .help__list {
        padding: 60px 0 0;
        /* justify-content: space-evenly; */
        gap: 55px 60px;
    } 
}

@media screen and (max-width: 537px) {
    .help {
        padding: 42px 15px;
    }

    .help__heading {
        font-size: 25px;
        line-height: 32px;
    }

     .help__list {
        padding: 42px 0 0;
     }
}

@media screen and (max-width: 429px) {
    .help__list {
        gap: 30px;
    }

    .help-card {
        width: 130px;
        height: 87px;
        gap: 20px;
    }

    .help-card__name {
    font-size: 15px;
    line-height: 16px;
    }

    .help-card__icon {
    width: 50px;
    height: 50px; 
    } 
}

@media screen and (max-width: 320px) {
    .help-card:last-child {
            margin-right:  auto;
        } 
    }

/*! In Addition Section */
.in-addition-wrapper {
    background-color: #F6F6F6;
}

.in-addition {
    padding: 80px 182px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.in-addition__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.in-addition__heading {
    font: 400 35px/45px Georgia, serif;
    letter-spacing: 0.06em;
    color: #545454;
}

.in-addition__subheading {
    font: 400 15px/17px Georgia, serif;
    letter-spacing: 0.06em;
    color: #545454;
}

.in-addition-image {
    margin: 11px 0 10px 0;
}

.credit-card {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #F1CDB3;
    padding: 10px 15px;
    border-radius: 9px;
}

.credit-card__number {
    font: 400 20px/23px Georgia, serif;
    letter-spacing: 0.06em;
    color: #545454;
    white-space: nowrap;
    transition: 0.3s;
}

.credit-card__number:hover {
    color: #3b3b3b;
}

.in-addition__information {
    font: italic 400 12px/18px Arial, sans-serif;
    color: #B2B2B2;
}

  @media screen and (max-width: 1068px) {
    .in-addition {
        flex-direction: column-reverse;
        gap: 60px;
        max-width: 50%;
        padding: 80px 0 100px;
    }

    .in-addition-image {
        margin: 0;
    }
}

 @media screen and (max-width: 518px) {
    .credit-card__number {
        font-size: 15px;
        line-height: 16px;
    }

    .in-addition__subheading {
        line-height: 24px;
        letter-spacing: 0;
    }

    .in-addition {
        padding: 42px 10px;
        gap: 42px;
        max-width: 100%;
    }

    .in-addition-image {
        width: 260px;
    }

     .in-addition__heading {
        font-size: 25px;
        line-height: 32px;
        padding: 0 16px;
        text-align: center;
    }

    .in-addition__content {
    align-items: center;
    } 
.in-addition__information {
        text-align: justify;
        padding: 0 10px;
    }
} 

    

/* !Footer */
.footer-wrapper {
    background: url(../../assets/images/footer-background.png), url(../../assets/images/footer-gradient-background.png);
    background-size: 100% 100% ;
}

.footer {
    padding: 40px 40px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__title {
    font: 400 35px/45px Georgia, serif;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.footer__contacts, .footer__locations {
    display: flex;
    flex-direction: column;
    padding: 16px 0 60px;
    width: 300px;
    gap: 32px;
}

.footer__contacts {
    gap: 40px;
    width: 278px;
}

.contacts__information, .locations__information {
    font: 400 20px/23px Georgia, serif;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.locations__information a, .contacts__information a {
    transition: 0.3s;
}

.locations, .contacts {
    display: flex;
    align-items: center;
    gap: 20px;
}

.locations__information a:hover, .contacts__information a:hover {
    color: #fae3d2;
}

.footer__puppy {
    align-self: flex-end;
}

.contacts__icon {
    width: 40px;
    height: 32px;
}

@media screen and (max-width: 1068px) {
    .footer {
        padding: 30px 30px 0;
    }
}

@media screen and (max-width: 1027px) {
    .footer {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 65px 26px;
    }

    .footer__contacts, .footer__locations {
        padding: 0;
    }
}

@media screen and (max-width: 513px) {
    .footer {
        padding: 30px 10px 0;
        gap: 40px;
    }

    .footer__title {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.06em;
        padding: 0 10px;
    }

    .footer__locations {
        gap: 40px;
    }

    .footer__contacts {
        align-items: center;
    }

    .footer__puppy {
        width: 260px;
        height: 269px;
    }
}

/* TODO */


    /* .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #292929;
        padding: 248px 39px;
        transform: translateX(100%);
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .menu__item {
        width: 100%;
        font-size: 32px;
        line-height: 51px;
        
    } */ 




