@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1a1919;
    min-width: 360px;
.player-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
}

.player {
    position: relative;
    width: 350px;
    height: 650px;
    padding: 25px 30px;
    border-radius: 15px;
    background: #131313;
    box-shadow: 0px 10px 20px 10px #4f2f1a21;
    overflow: hidden;
}

.player__upper-area span {
    color: #49230a;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.heart-icon {
    color:#d45808;
    cursor: pointer;
    transition: color 0.3s ease;
}

.heart-icon.active {
    color:#d45808;
}

.progress__time,
.player__upper-area,
.progress__bar,
.player__controls,
.playlist ul li {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.player__image {
    height: 280px;
    border-radius: 50%;
    margin: 30px auto;
    background-image: url('assets/img/Luna Bright.JPG');
    background-size:cover;
    border: 3px solid #292c2d;
    animation: rotate 35s linear infinite;
    animation-play-state: paused;
}

.player__image.play {
    animation-play-state: running;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.player__info {
    text-align: center;
    margin: 40px 0;
    opacity: 0.9;
    color: #8e9499;
}

.player__progress {
    width: 100%;
}

.progress__bar {
    appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background:#8e9499;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

.progress__bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px #d45808;
}

.progress__time {
    margin-top: 10px;
}

.progress__time span {
    color:#8e9499;
}

.volume-control {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 40px;
    width: 100%;
}

.volume-control__icon {
    cursor: pointer;
    background: none;
    border: none;
    color: #484c4f;
    transition: color 0.3s ease, transform 0.3s ease;
}

.volume-control__level {
    font-size: 16px;
    color: #484c4f;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.volume-control__level.active {
    opacity: 0.8;
}

.volume-control__icon:hover {
    color: #c5beba;
}

.player__controls {
    margin: 40px 0 5px 0;
}

.button {
    cursor: pointer;
    border: 0;
    background: inherit;
    color:#8e9499;
    transition: all 0.3s ease;
}

.button.repeat, .button.list {
    color: #313436;
}

.button:hover {
    color:#d45808;
}

.button.repeat.active {
    color:#fcfbfb;
}

.button.play {
    width: 40px;
    height: 38px;
    border: 2px solid #d45808;
    border-radius: 10px;
    color: #d45808;
}

.button.play:hover {
    color:#d2dae0;
    background-color:#d45808;
}

.playlist {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    background-color:#d45808;
    padding: 15px 30px;
    border-radius: 15px;
    bottom: -51%;
    /* opacity: 0; */
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.playlist.open {
    /* opacity: 1; */
    bottom: 0;
    pointer-events: auto;
}

.playlist__header i {
    cursor: pointer;
    transform: rotate(280deg) scaleX(-1);
}

.playlist__header i:hover {
    color: #d2dae0;
}

.playlist__header-row {
    display: flex;
    align-items:center;
    gap: 12px;
}

.playlist__tracks {
    margin-top: 10px;
    max-height: 260px;
    overflow: auto;
}

.tracks__item {
    list-style: none;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid #d2dae0;
    transition: all 0.3s ease;
}

.tracks__item:hover {
    color: #d2dae0;
}

.playlist ul li:last-child {
    border-bottom: 0px;
}

.item__artist{
    opacity: 0.6;
}

.playlist__tracks::-webkit-scrollbar {
    width: 0;
}
